<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="/static/images/logo.png" class="main-nav-logo"></a>
        </li>
        {% if session['pat_id'] %}
            <li class="nav-item main-nav-li">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li class="nav-item main-nav-li">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item main-nav-li">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item main-nav-li">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{%block content %}{% endblock %}
<footer class="bg-dark text-light text-center py-3" style="margin-top:36px;">
    <p>&copy; 2024. All rights reserved.</p>
</footer>
</body>
</html>
